{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Technologia 1</h1>
    <p class="lead">Aplikacja pokazujaca relacje miedzy bankiem, a posrednikiem</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jak korzystac z aplikacji</h2>
        <p>Zaloguj sie i nastepnie uzupelniaj wnioski.</p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wiecej informacji</h2>
        <p>Zajrzyj do pracy magisterskiej</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Przejrzyj artykuly &raquo;</a></p>
    </div>

</div>


{% endblock %}
