{% extends "app/layout.html" %}
{% block content %}
<!--poczatek danych usera-->
{% if user.is_authenticated %}
<hr />
<h2>{{ user.username }}  - jesteś w trakcie nadawania rezygnacji klienta na wniosku {{creditapplication.id}}.</h2><br>
<hr />
<h3>{{ message }}</h3>
<h3>Podaj powód rezygnacji: </h3>
<!--dokonczenie formy-->
<form action="" method="post">{% csrf_token %}<!--jak jest pusta action="" to dobrze działa i zapisuje-->
<hr />
   <p>
        <label for="comment">Podaj powód rezygnacji: </label>
        <input type="text" name="comment" required/>
   </p>
<input type="submit" value="Rezygnuj" class="btn btn-primary btn-large"/>
</form>
<!--dopisane-->
{% else %}
<h1>Aby otrzymać odpowiednie dostępy skontaktuj sie z twórcą portalu!</h1>
{% endif %}
<!--koniec danych usera-->
{% endblock %}
